<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MegaSena/src/br/com/andressa/SortearNumeros.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.andressa.SortearNumeros"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MegaSena"/>
</launchConfiguration>
